body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
}



.menu{   
    height: 40px;
    width: 100%;
    background: #a8a8a8;
    text-align: right;
    align-content: end;
    text-align: -webkit-right;
    padding-top: 20px;
}

.main{
    height: 100%;
    text-align: -webkit-center;
    padding-top: 20%;
}

img{

    text-align: -webkit-center;
   
}